.header{
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1em;
    /* background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
    height: 200px; */
    

}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    /* border: tomato 1px solid; */
    padding-inline-start: 0px;
    max-width: 240px;
    margin: auto;
}

.nav-bar li{
    display: block;
    text-decoration: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: var(--white);
}

.nav-bar.details{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--black);
}

.nav-bar i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 50px;
}

.header.details{
    padding: 0;
    position: sticky;
    z-index: 2;
    top: 0;
}